<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
  <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
      <button class="btn btn-dark" type="button"><i class="fas fa-search"></i></button>
  </div>
</form>
<div class="nyt-sections">
  <ul>
      <li *ngFor="let section of allSections " 
      routerLink="/section/{{section}}"
      routerLinkActive="active-section"
      >{{section}}</li>
  </ul>
</div>